/* add custom styles */
#openPic{
  background-image: url("../../media/restaurant-hero-image.jpg");
  background-repeat: no-repeat;
  height: 625px;
}

#button{
  display: flex;
  height: 80%;
  align-content: flex-end;
}

button{
  width: 80%;
  height: 6%;
  background-color: #4dff4d;
  position: relative;
  justify-content: center;
}

#first3{
  margin-left: 10%;
}

.third{
  height: 200px;
  display: inline-block;
  width: 25%;
  margin-left: 15px;
}
