/* add custom styles */
body{
  margin: 0px;
  padding: 0px;
}
*{
  font-family: "Times New Roman", Times, serif;
}
#openPic{
  background-image: url("../../media/restaurant-hero-image.jpg");
  background-repeat: no-repeat;
  height: 625px;
  position: relative;
}

#button{
  display: flex;
  height: 80%;
  align-content: flex-end;
}

button{
  margin-top: 10%;
  font-size: 20px;
  width: 80%;
  height: 15%;
  background-color: #4dff4d;
  margin-left: auto;
  margin-right: auto;
}

#first3{
  margin-left: 10%;
}

.third{
  height: 200px;
  display: inline-block;
  width: 25%;
  margin-left: 15px;
}

#openPic > h1{
  text-align: center;
  color: white;
  margin-top: 15%;
  bottom: 300px;
}

h2
